.card-header > * > h2,
.card-header > h4 {
  margin-top: 0.5rem;
}

.order-below {
  order: 13;
  padding-top: 0.25rem;
  padding-left: 26.75px !important;
  flex: 0 0 100%;
}

@media (min-width: 1280px) {
  .order-below {
    order: initial;
    padding: 0;
    flex: 0 0 auto;
  }
}

