html, body {
    height: 100%;
    font-size: large;
}

body > div,
body > div > div,
body > div > div > div,
body > div > div > div > div,
body > div > div > div > div > div,
#_dash-app-content
{
  height: 100%;
}

._dash-loading-callback {
  display: none;
}

.h-1 {
    height: 100%;
}

.w-1 {
  width: 100%;
}

.bold {
  font-weight: 600;
}