#sidebar {
  /* sticky sidebar */
  position: sticky;
  top: 0;
  max-height: 100vh;
    
  padding: 2rem 0rem;
  width: auto;
  text-align: left;
  background-color: white;
  box-shadow: 0 0 0.5em 0.15em rgba(0, 0, 0, 0.2);
}

#page-content {
  padding: 2rem;
/*   background-color: #ced4da; */
}

/* add the three horizontal bars icon for the toggle */
.navbar-toggler-icon {
  /* black */
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  /* white */
/*   background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e"); */
}

@media (min-width: 1200px) {
  /* Hide the toggle on a large screen */
  #sidebar-toggle {
    display: none;
  }

  #sidebar-collapse {
    display: block;
  }

  #sidebar {
    "width": "194px"
  }
    
  #page-content {
    padding: 2rem 6rem;
  }
}

@media (min-width: 1600px) {
  #page-content {
    padding: 2rem 10rem;
  }
}